<!-- Mobile sidebar toggler -->
<button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Brand -->
<div class="navbar-brand">
  <!-- <img src="assets/img/brand/logo.svg" width="89" height="25" alt='Brand Logo'> -->
  <div>LOGO</div>
</div>

<!-- Desktop sidebar toggler -->
<button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>
  <span class="navbar-toggler-icon"></span>
</button>

<!-- Custom content -->
<ng-content></ng-content>

